.home-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logoColor {
    color: lightgreen;
}

@media (min-width: 48em) {
    .home-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
    }
}

.text-container {
    flex: 1;
    text-align: center;
    width: 100%;
    max-width: 32rem;
}

.text-container h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.text-container p {
    margin-top: 1rem;
    text-align: start;
    font-size: 1.25rem;
    color: #6b7280;
}

.button-link {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.375rem;
    background-color: #16a085;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0e8b58;
}

.image-container {
    flex: 1;
    width: 100%;
}

.image {
    height: 50%;
    width: 100%;
    height: auto;
}

@media (min-width: 48em) {
    .text-container {
        padding-right: 2rem;
    }
}